p {
  margin: .5em 0;
  font-weight: bold;
}

button {
  font-family: Arial;

  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #4c6928 !important;
}

button:disabled {
  background-color: #32362d !important;
  color: #ccc;
  cursor: not-allowed;
}

button:focus {
  outline: 0;
}

button:active {
  background-color: #32362d !important;
}

.grid-container {
  display: grid;
  width: 40em;
  grid-template-columns: 50% 50%;
  background-color: #12171b;
  padding: 6px;
  cursor: default;
}

.grid-item {
  background-color: #474B4F;
  border: 6px solid #12171b;
  padding: 15px;
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
