@import "../../variables.scss";

.normal {
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.slanted {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #e4d1f8;
}

.visual {
  font-family: Arial, Helvetica, sans-serif;
  color: darkorange;
} 

.message {
  height: 25px;
}

.fadeout {
  -webkit-mask-image: linear-gradient(to bottom, $color1 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, $color1 50%, transparent 100%);
  height: 450px;
  cursor: default;
}

.scary {
  position: relative;
  font-weight: bold;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(45deg, 
                    #7794ff, 
                    #44107A,
                    #FF1361,
                    #FFF800);
  animation: .8s wiggle infinite alternate;
}

@keyframes wiggle {
  0% { transform: skewX(-10deg); }
  5% { transform: skewX(10deg); }
  10% { transform: skewX(-10deg); }
  15% { transform: skewX(10deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}