/* Application-wide Styles */
html {
  background-color: #12171b
}
h1 {
  color: #4c6928;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2 {
  color: #4c6928;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}
body {
  margin: 2em;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
}